.toggle-btn {
  border: none;
  background-color: transparent;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: transparent;
}

.selected {
  background-color: #007bff;
  color: #fff;
}
